<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="login.mapper.LoginMapper">
	<select id="check" parameterType="User" resultType="int">
    	SELECT COUNT(*) FROM login WHERE user_name=#{userName} and user_pw=#{userPw}
	</select>
	<select id="get" parameterType="User" resultType="int">
		select user_power from login where user_name=#{userName}
	</select>

</mapper>